<div class="container">
    <h1 class="text-center">Vertical Align</h1>
    <h2>align-items-start</h2>
    <div class="row bg-dark p-2 align-items-start">
        <div class="col-md-3 bg-danger"><h3>Col A</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat voluptatum officia veritatis nemo optio. Odio corporis earum aspernatur pariatur!</div>
        <div class="col-md-3 bg-primary">
            <h3>Col B</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia odio corrupti dolore ut sequi enim expedita doloremque sint? Corporis eius ullam reprehenderit sit repellendus a dolore recusandae. Nihil, quo voluptates facere explicabo enim quia sed veritatis non, odit amet aperiam aut voluptatem expedita tempora. Ut vitae temporibus eius nesciunt ipsum.
        </div>
        <div class="col-md-3 bg-warning">
            <h3>Col C</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque necessitatibus eius voluptatibus. Ea, adipisci!</div>
    </div>
    <hr>
    <h2>align-items-end</h2>
    <div class="row bg-dark p-2 align-items-end">
        <div class="col-md-3 bg-danger"><h3>Col A</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat voluptatum officia veritatis nemo optio. Odio corporis earum aspernatur pariatur!</div>
        <div class="col-md-3 bg-primary">
            <h3>Col B</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia odio corrupti dolore ut sequi enim expedita doloremque sint? Corporis eius ullam reprehenderit sit repellendus a dolore recusandae. Nihil, quo voluptates facere explicabo enim quia sed veritatis non, odit amet aperiam aut voluptatem expedita tempora. Ut vitae temporibus eius nesciunt ipsum.
        </div>
        <div class="col-md-3 bg-warning">
            <h3>Col C</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque necessitatibus eius voluptatibus. Ea, adipisci!</div>
    </div>
    <hr>
    <h2>align-items-center</h2>
    <div class="row bg-dark p-2 align-items-center">
        <div class="col-md-3 bg-danger"><h3>Col A</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat voluptatum officia veritatis nemo optio. Odio corporis earum aspernatur pariatur!</div>
        <div class="col-md-3 bg-primary">
            <h3>Col B</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia odio corrupti dolore ut sequi enim expedita doloremque sint? Corporis eius ullam reprehenderit sit repellendus a dolore recusandae. Nihil, quo voluptates facere explicabo enim quia sed veritatis non, odit amet aperiam aut voluptatem expedita tempora. Ut vitae temporibus eius nesciunt ipsum.
        </div>
        <div class="col-md-3 bg-warning">
            <h3>Col C</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque necessitatibus eius voluptatibus. Ea, adipisci!</div>
    </div>

    <hr>
    <h2>align-items-stretch -- is default in bs</h2>
    <div class="row bg-dark p-2 align-items-stretch">
        <div class="col-md-3 bg-danger"><h3>Col A</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat voluptatum officia veritatis nemo optio. Odio corporis earum aspernatur pariatur!</div>
        <div class="col-md-3 bg-primary">
            <h3>Col B</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia odio corrupti dolore ut sequi enim expedita doloremque sint? Corporis eius ullam reprehenderit sit repellendus a dolore recusandae. Nihil, quo voluptates facere explicabo enim quia sed veritatis non, odit amet aperiam aut voluptatem expedita tempora. Ut vitae temporibus eius nesciunt ipsum.
        </div>
        <div class="col-md-3 bg-warning">
            <h3>Col C</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque necessitatibus eius voluptatibus. Ea, adipisci!</div>
    </div>

    <h2>align-items-baseline</h2>
    <div class="row bg-dark p-2 align-items-baseline">
        <div class="col-md-3 bg-danger ft22">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat voluptatum officia veritatis nemo optio. Odio corporis earum aspernatur pariatur!</div>
        <div class="col-md-3 bg-primary ft18">
            
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia odio corrupti dolore ut sequi enim expedita doloremque sint? Corporis eius ullam reprehenderit sit repellendus a dolore recusandae. Nihil, quo voluptates facere explicabo enim quia sed veritatis non, odit amet aperiam aut voluptatem expedita tempora. Ut vitae temporibus eius nesciunt ipsum.
        </div>
        <div class="col-md-3 bg-warning ft12">
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque necessitatibus eius voluptatibus. Ea, adipisci!</div>
    </div>

    <h2>align items responsive || breakpoints</h2>
    <div class="row bg-dark p-2 align-items-xl-start align-items-lg-end align-items-md-center align-items-sm-baseline">
        <div class="col-md-3 bg-danger ft22">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat voluptatum officia veritatis nemo optio. Odio corporis earum aspernatur pariatur!</div>
        <div class="col-md-3 bg-primary ft18">
            
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia odio corrupti dolore ut sequi enim expedita doloremque sint? Corporis eius ullam reprehenderit sit repellendus a dolore recusandae. Nihil, quo voluptates facere explicabo enim quia sed veritatis non, odit amet aperiam aut voluptatem expedita tempora. Ut vitae temporibus eius nesciunt ipsum.
        </div>
        <div class="col-md-3 bg-warning ft12">
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque necessitatibus eius voluptatibus. Ea, adipisci!</div>
    </div>


</div>