 <div class="container">
    <div class="row bg-dark">
        <div class="col-md-3 bg-danger">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo facilis quisquam possimus! Quasi commodi nulla fugit? Excepturi ad molestias libero!
        </div>
        <div class="col-md-4 mr-auto bg-primary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laudantium voluptatibus recusandae esse harum placeat assumenda maxime quaerat porro tempore?
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="row bg-warning">
        <div class="col-sm-3 m-md-auto bg-danger">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, fuga modi possimus earum alias expedita facere rem officia est adipisci quos placeat veniam, pariatur officiis excepturi voluptatibus quasi quidem quod.
        </div>
        <div class="col-sm-3 bg-primary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab voluptate assumenda sunt dignissimos vitae nemo sit magni officiis nam natus totam vel odit ipsa ipsam quibusdam, accusantium quam adipisci!
        </div>
    </div>
</div>
<hr>

<div class="container bg-dark">
    <div class="row">
        <div class="mb-5 col-sm-3 bg-danger">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad eum quas dolor earum eos atque a corporis, repellendus quidem nobis autem quibusdam saepe voluptas nam odio inventore ipsa necessitatibus soluta?
        </div>
        <div class="mt-5 col-sm-3 bg-primary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, qui.
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="row bg-warning">
        <div class="col-md-3 bg-primary m-md-5 mt-md-0 mb-md-0 ml-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore illo delectus eos, recusandae cupiditate maxime tempora officia deserunt ut obcaecati!</div>
        <div class="col-sm-3 bg-danger mt-sm-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, dignissimos?</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 bg-danger mt-lg-n5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic omnis nostrum sed dolorem quas magnam itaque repellat voluptatum ratione nobis.</div>
        <div class="col-sm-3 bg-warning mt-lg-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus atque sunt doloribus a corporis, animi earum optio alias eos?</div>
    </div>
</div>


<br><br><br>