<div class="container">
    <h2>Container Class</h2>
    India will lose this test match!
</div>

<div class="container-fluid">
    <h2>Container Class</h2>
    India will lose this test match!
</div>

<div class="container">
    <h2>Row and Column Class</h2>
    <div class="row">Row 1</div>
    <div class="row">Row 2</div>
    <div class="row row-cols-4">
        <div class="col">Col 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum animi debitis tempore, fugiat et laboriosam quasi officia reprehenderit aliquam eveniet odit obcaecati vitae maxime. Est dolor placeat impedit! Quo, architecto?20

        </div>
        <div class="col">Col 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, non.</div>
        <!-- <div class="w-100"></div> -->
        <div class="col">Col 3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam fugiat assumenda eaque. Dolores magni, aliquam quos dolorum eveniet asperiores officiis a maiores debitis quidem recusandae cum aut nemo, modi veniam.</div>
        <!-- <div class="w-100"></div> -->
        <div class="col">Col 4</div>
        <div class="col">Col 5</div>
        <div class="col">Col 6</div>
        <!-- <div class="w-100"></div> -->
        <div class="col">Col 7</div>
        <div class="col">Col 8</div>
     </div>
    <div class="row">Row 4</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md">Col 1</div>
        <div class="col-md">Col 2</div>
        <div class="col-md">Col 3</div>
    </div>
    <div class="row">
        <div class="col-lg">Col 1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, repudiandae.</div>
        <div class="col-lg">Col 2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem id facere quidem alias quos dolor architecto earum magnam culpa consectetur.</div>
        <div class="col-lg">Col 3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos repellat saepe quisquam accusamus aliquam cumque autem labore. Natus dolorum modi officiis placeat incidunt beatae magnam consectetur, minus, nihil repellat quis.</div>
    </div>
</div>