<div class="container">
    <div class="row">
        <div class="bg-primary order-md-last col-md-6  col-lg-3">Col 1</div>
        <div class="bg-success col-md-6  col-lg-3">Col 2</div>
        <div class="bg-danger col-md-6  col-lg-3">Col 3</div>
        <div class="bg-warning order-md-first col-md-6 col-lg-3">Col 4</div>
    </div>
</div>
<hr>
<h2>Ordering by Grid Number</h2>
<div class="container">
    <div class="row">
        <div class="col-md bg-primary order-lg-2 order-md-2">Col 1</div>
        <div class="col-md bg-success order-lg-3 order-md-1">Col 2</div>
        <div class="col-md bg-danger order-lg-0 order-md-3">Col 3</div>
        <div class="col-md bg-warning order-lg-1 order-md-0">Col 4</div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-8 bg-danger text-white order-md-2">
            <h2>Heading 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, hic minus! Ipsum corporis, nesciunt omnis deserunt mollitia repellat dignissimos similique consectetur eaque hic nostrum recusandae aut voluptas nulla voluptate non modi laborum repudiandae, odio iusto porro cupiditate? Fuga culpa, hic cupiditate eos quas officia error blanditiis molestiae, aspernatur ea incidunt, a exercitationem iste iusto earum vero molestias aut. Esse ut eius iste similique porro aspernatur rerum ipsa autem sequi dolore nemo qui corrupti corporis, maxime assumenda soluta ullam cumque sed labore nesciunt asperiores doloribus minima. Deleniti soluta, corporis quidem assumenda vitae eligendi! Sapiente error iste voluptate enim. Eos, tenetur quas?</p>
        </div>
        <div class="col-md-4 bg-dark text-white order-md-1">
            <ul>
                <li>Home</li>
                <li>About us</li>
                <li>Products</li>
                <li>Gallery</li>
                <li>Contact us</li>
            </ul>
        </div>
    </div>
</div>
