 <div class="container">
    <div class="row">
        <div class="col-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, expedita?</div>
        <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, deserunt?</div>
    </div>
    <div class="row">
        <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, fuga.</div>
        <div class="col-6">Lorem ipsum dolor sit amet.</div>
        <div class="col-5">Lorem ipsum dolor sit amet.</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" id="header">
            <h1>Website Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" id="sidebar">
            <h3>Sidebar</h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </div>

        <div class="col-md-6" id="content">
            <h2>Body Text</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corrupti distinctio ea est, sequi atque labore exercitationem in commodi! Praesentium, molestias in consequatur odio sapiente harum autem nam sit, ducimus, doloremque quas voluptatem est optio quia esse! Repellendus veniam minus omnis dicta incidunt culpa nisi, amet nostrum corrupti? Odit cum consequatur neque, mollitia quibusdam beatae molestias distinctio cupiditate in obcaecati praesentium, quis voluptatum optio delectus rerum sed sint? Doloremque fugiat suscipit natus accusamus qui impedit quae debitis autem ullam nihil recusandae maiores ratione minima velit distinctio, quo quam quibusdam repudiandae temporibus eveniet. Vero quo quibusdam modi quidem blanditiis placeat a consequatur suscipit accusantium aut numquam, sapiente expedita, dignissimos fugit quis cupiditate, facere architecto impedit? Accusamus earum recusandae illo accusantium ea.</p>
        </div>
        <div class="col-md-3" id="sidebar">
            <h3>Sidebar</h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="footer">&copy; Copyright 2022 All rights reserved.</div>
    </div>
</div>