<div class="container">
    <h1>justify-content-end</h1>
    <div class="row justify-content-end bg-dark p-2">
        <div class="col-md-3 bg-danger">
            <h2>Col A</h2>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="col-md-3 bg-primary">
            <h2>Col B</h2>
            <p>Lorem, ipsum.</p>

        </div>
        <div class="col-md-3 bg-warning">
            <h2>Col C</h2>
            <p>Lorem, ipsum.</p>

        </div>
    </div>

    <h1>justify-content-start</h1>
    <div class="row justify-content-start bg-dark p-2">
        <div class="col-md-3 bg-danger">
            <h2>Col A</h2>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="col-md-3 bg-primary">
            <h2>Col B</h2>
            <p>Lorem, ipsum.</p>

        </div>
        <div class="col-md-3 bg-warning">
            <h2>Col C</h2>
            <p>Lorem, ipsum.</p>

        </div>
    </div>

    <h1>justify-content-center</h1>
    <div class="row justify-content-center bg-dark p-2">
        <div class="col-md-3 bg-danger">
            <h2>Col A</h2>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="col-md-3 bg-primary">
            <h2>Col B</h2>
            <p>Lorem, ipsum.</p>

        </div>
        <div class="col-md-3 bg-warning">
            <h2>Col C</h2>
            <p>Lorem, ipsum.</p>

        </div>
    </div>

    <h1>justify-content-between</h1>
    <div class="row justify-content-between bg-dark p-2">
        <div class="col-md-3 bg-danger">
            <h2>Col A</h2>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="col-md-3 bg-primary">
            <h2>Col B</h2>
            <p>Lorem, ipsum.</p>

        </div>
        <div class="col-md-3 bg-warning">
            <h2>Col C</h2>
            <p>Lorem, ipsum.</p>

        </div>
    </div>

    <h1>justify-content-around</h1>
    <div class="row justify-content-around bg-dark p-2">
        <div class="col-md-3 bg-danger">
            <h2>Col A</h2>
            <p>Lorem, ipsum.</p>
        </div>
        <div class="col-md-3 bg-primary">
            <h2>Col B</h2>
            <p>Lorem, ipsum.</p>

        </div>
        <div class="col-md-3 bg-warning">
            <h2>Col C</h2>
            <p>Lorem, ipsum.</p>

        </div>
    </div>
    
<h1>Breakpoints || Responsive</h1>

<div class="container">
    <div class="row bg-dark p-2 justify-content-xl-around justify-content-lg-end justify-content-md-between">
        <div class="col-md-3 bg-danger">
            <h2>Heaing 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe natus consequatur ipsam at explicabo ducimus neque doloremque asperiores quas ad!</p>
        </div>
        <div class="col-md-3 bg-primary">
            <h2>Heaing 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe natus consequatur ipsam at explicabo ducimus neque doloremque asperiores quas ad!</p>
  
        </div>
        <div class="col-md-3 bg-warning">
            <h2>Heaing 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe natus consequatur ipsam at explicabo ducimus neque doloremque asperiores quas ad!</p>
  
        </div>
    </div>
</div>




</div>