<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Heading 1</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center">Subheading 1</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="text-center">SubSub 1</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tempore?</p>
                        </div>
                        <div class="col-md-6">
                            <h6 class="text-center">SubSub 2</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, quam?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Subheading 2</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos autem, dolore voluptates error tempore, iste adipisci sed enim modi quae corrupti architecto fugit officia dicta sint labore harum excepturi aspernatur molestias est et ad. Unde natus ut facilis quod quos praesentium ullam vel nulla? Omnis autem atque nulla architecto.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente a distinctio sint, fugit sit excepturi repellendus, est optio doloribus laborum perferendis corporis ratione veritatis omnis ducimus quasi ut autem ipsa! Sequi ea iste, expedita nobis temporibus possimus rerum molestias incidunt tempora magnam, consequuntur officia vel ratione laborum saepe? Rerum dicta dolores recusandae nihil odit a temporibus incidunt amet facilis laboriosam magnam voluptatibus sint illo fugiat eveniet architecto, ipsam eaque repellendus cupiditate animi. Quas corrupti facilis iure est quidem tenetur velit quaerat veritatis, beatae, atque consequuntur sit autem, et asperiores corporis qui. Fuga vitae similique eaque voluptatibus quaerat. Expedita, eius qui!</div>

    </div>
</div>