<div class="container">
    <div class="row p-3 bg-dark">
        <div class="col-md-4 bg-primary p-md-5 p-sm-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex error ut eligendi dolorum vel repellendus officiis, quas totam culpa ducimus?</div>
        <div class="col-md-4 bg-danger pt-md-0 p-sm-3 pt-sm-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus est ex temporibus eos non, dolorum unde commodi assumenda nesciunt dicta corrupti. Amet beatae temporibus aliquid totam iure dolorem sunt repellat.</div>
    </div>
</div>